<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать!</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/Main/myMarks.css}">
    <script th:src="@{/js/js1.js}" defer></script>
    <style>
        .btn {
            padding: 10px 20px;
            background-color: #f0f0f0;
            border: none;
            cursor: pointer;
            margin: 10px;
        }
        .btn.yellow {
            background-color: yellow !important; /* !important на случай переопределения стилей */
        }
    </style>
</head>
<body>
<!--Регистрация / Авторизация-->

<div class="shapka">
    <div class="container_btn_menu">
        <a href="/" class="btn_menu">Главная</a>
        <a href="/activities" class="target_btn_menu">Активности</a>
        <a href="" class="btn_menu">Личная посещаемость</a>
        <a href="" class="btn_menu">Общая посещаемость</a>
        <a href="" class="btn_menu">Все мемберы</a>
        <a href="/moderation/all_members" class="btn_menu">Модерация</a>
    </div>

    <div th:if="${nickname}" class="container_authentication">
        <a href="" class="authentication" th:text="${nickname}"></a>
        <a href="/logout" class="authentication">Выйти</a>
    </div>
</div>
<!--Выбор даты-->
<form action="/activities_time" method="post">
    <label>Select date: </label>
    <input type="date" request="dateInput" name="dateInput" th:value="${currentDate}"/>
    <button type="submit">Выбрать дату</button>
</form>

<div class="common">
    <div class="selectDate"></div>
    <div class="dayBox">
        <div class="date"></div>
        <div class="bosses"></div>

    </div>
    <div class="dayBox"></div>
    <div class="dayBox"></div>
    <div class="dayBox"></div>
    <div class="dayBox"></div>
    <div class="dayBox"></div>
    <div class="dayBox"></div>
</div>
<div id="myModal" class="modal">
    <div class="modal-content">
        <img src="https://iimg.su/s/12/8HDHjtxILCkG4awnIa9EH1H00gvOPZwf2pK3SLfL.png">
    </div>

</div>

</body>
</html>