<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать!</title>
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>

<div class="shapka">
    <div class="container_btn_menu">
        <a href="" class="target_btn_menu">Главная</a>
        <a href="/activities" class="btn_menu">Активности</a>
        <a href="" class="btn_menu">Личная посещаемость</a>
        <a href="" class="btn_menu">Общая посещаемость</a>
        <a href="" class="btn_menu">Все мемберы</a>
        <a href="/moderation/all_members" class="btn_menu">Модерация</a>
    </div>

    <div th:if="${nickname}" class="container_authentication">
        <a href="" class="authentication" th:text="${nickname}"></a>
        <a href="/logout" class="authentication">Выйти</a>
    </div>
</div>

<div class="common">
    <div class="left"></div>
    <div class="rigth"></div>
</div>
</body>
</html>