<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать!</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/add_activities.css">
</head>
<body>

<div class="shapka">
    <div class="container_btn_menu">
        <a href="/" class="btn_menu">Главная</a>
        <a class="target_btn_menu">Модерация</a>
    </div>
    <div class="container_btn_menu">
        <a href="/moderation/all_members" class="btn_menu">Мемберы</a>
        <a class="target_btn_menu">Активности</a>
        <a href="/moderation/confirm_registrations" class="btn_menu">Подтвердить<br>регистрацию</a>
        <a href="" class="btn_menu">Галочки</a>
    </div>
    <div th:if="${nickname}" class="container_authentication">
        <a href="" class="authentication" th:text="${nickname}"></a>
        <a href="/logout" class="authentication">Выйти</a>
    </div>
</div>

<div class="common">
    <div class="date_activity">
        <div class="date" >
            <form action="/activities_time_for_off" method="post">
                <label>Select date: </label>
                <input type="date" request="dateInput" name="dateInput" th:value="${currentDate}"/>
                <button type="submit">Выбрать дату</button>
            </form>
        </div>
        <div class="scroll-container">
            <form action="/select_activities" method="post">
                <ul>
                    <li th:each="name : ${bossList}">
                        <button type="submit" name="selectedBoss" th:value="${name}"
                                class="scroll-btn" th:text="${name}"></button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <div class="rigth">
        <!--<a><img th:src="${img_url}"></a>-->
        <div th:if="${statusSelect == 'notSelected'}">
            <h1 th:if="${warningMessege == null}">Активность не выбрана</h1>
            <h1 th:if="${warningMessege != null}" th:text="${warningMessege}"></h1>
        </div>
        <div th:if="${statusSelect == 'notCreated'}">
            <h1>Активность не создана</h1>
            <form action="/create_activities" method="post">
                <input type="text" name="urlBoss" placeholder="Ссылка" required>
                <input type="textarea" name="noteBoss" placeholder="Примечание">
                <input type="checkbox" name="isPvpBoss" value="PVP" th:text="'Было бы пвп?'">
                <input type="text" name="timeBoss" placeholder="Время убийства">
                <button type="submit" th:text="Создать"></button>
            </form>
        </div>
        <div th:if="${statusSelect == 'edit'}">
            <h1>Изменение данных</h1>
            <form action="/create_activities" method="post">
                <input type="text" name="urlBoss" th:value="${urlBoss}" required>
                <input type="textarea" name="noteBoss" th:value="${noteBoss}">
                <input type="checkbox" name="isPvpBoss" th:value="${PvpBoss}" th:text="'Было бы пвп?'">
                <input type="text" name="timeBoss" th:value="${timeBoss}">
                <button type="submit" th:text="Изменить"></button>
            </form>
        </div>
        <div th:if="${statusSelect == 'created'}">
            <img th:if="${imgBoss != null}" th:src="${imgBoss}">
            <p th:if="${imgBoss == null}" th:text="'Картинка отсутстует'"></p>
            <p th:text="'Ссылка: ' + ${urlBoss}"></p>
            <p th:text="'Примечание: '+ ${noteBoss}"></p>
            <p th:text="'Время босса: '+ ${timeBoss}"></p>
            <p th:text="'Мастер: '+ ${masterBoss}"></p>
            <p th:text="'ПВП: '+ ${PvpBoss}"></p>
            <p th:text="'Имя босса: '+ ${nameBoss}"></p>
            <form action="/edit_activities" method="post">
                <button type="submit" th:text="Изменить"></button>
            </form>
            <form action="/remove_activities" method="post">
                <button type="submit" th:text="Удалить"></button>
            </form>
        </div>
    </div>
</div>
</body>
</html>