.div_selectDate{
    display: flex;
    width: 100%;
    height: 5%;
    border: solid black 1px ;
}
.div_common{
    display: flex;
    height: 86%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.div_dayBox{
    display: flex;
    width: calc(100%/7);
    height: 100%;
    flex-direction: column;
    border: solid black 1px ;

}
.div_bosesOneDay{
    display: flex;
    width: 100%;
    height: 90%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: solid black 1px ;

}
.div_selectDayOnBoss{
    width: 100%;
    height: 10%;
    border: solid black 1px ;

}
.div_oneBoss{
    display: flex;
    width: 100%;
    flex-direction: row;
    border: solid black 1px ;
    gap: 0;

}
.boss-form {
    width: 70%;
    margin: 0;
    padding: 0;
}

.image-form {
    width: 30%;
    margin: 0;
    padding: 0;
}

.btn_boss{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: #57b9ff;
    color: white;
    border: 1px solid #373131;
    cursor: pointer;
    list-style-type: none;
    box-sizing: border-box;
}
.btn_boss.green{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: #ff5757;
    color: white;
    border: 1px solid #373131;
    cursor: pointer;
    list-style-type: none;
    box-sizing: border-box;
}

.btn_image {
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    background: #57b9ff;
    color: white;
    border: 1px solid #373131;
    cursor: pointer;
    align-items: center;
    text-align: center;
}
.btn_boss:hover {
    background: #3aa0e6;
}
.btn_image:hover {
    background: #3aa0e6;
}

.infoBoss{
    height: 50%;
    width: 100%;
}
ul, ol {
    list-style-type: none;
    padding-left: 0;
}
